body {
  height: 100vh;
  background-color: #343a40;
}

.container {
  margin-top: 2rem;
}
h4 {
  text-align: center;
  margin: 0.8rem;
}
.alert {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar {
  margin-bottom: 1rem;
}
#footer {
  background-color: #343a40;
  color: white;
}

.texty {
  width: 66%;
  font-size: 30px;
  background-color: rgba(216, 215, 208, 0.5);
  border-radius: 5px;
  margin-left: 1rem;
  padding: 0.5rem;
  justify-content: center;
}
